<template>
  <ais-instant-search class="uk-container uk-container-xsmall uk-margin-top"
    index-name="test" :search-client="client">
    <ais-clear-refinements />
    <h2>Cities</h2>
    <ais-refinement-list attribute="destination" searchable />
    <ais-configure :hitsPerPage="8" />
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-item">
        <ais-search-box />
      </div>
    </nav>
    <ais-hits class="uk-margin-top">
      <div slot="item" slot-scope="{ item }">
        <div class="hit-name">
          <ais-highlight attribute="destination" :hit="item"></ais-highlight>
        </div>
        <div class="hit-description">
          <ais-highlight attribute="cog" :hit="item"></ais-highlight>
        </div>
        <div class="hit-price uk-text-lead">{{ item.source }}</div>
      </div>
    </ais-hits>
    <ais-pagination class="uk-margin" :padding="1"/>
  </div>
  </ais-instant-search>
</template>

<script>
import algoliasearch from 'algoliasearch/lite'
import 'instantsearch.css/themes/algolia-min.css'
import { ref } from '@vue/composition-api'

export default {
  setup() {
    const client = ref(
      algoliasearch('E9KRKA62E7','f70b216b92b5145dbb74eef9c2ab4683')
    )

    return { client }
  }
}
</script>
